In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import pymongo
from pymongo import MongoClient

In [2]:
## read csv files
State_Energy_Data2018=pd.read_csv("data/State_ProductionConsumption2018.csv")
State_ProductionConsumption2018=pd.read_csv("data/State_ProductionConsumption2018.csv")
Total_CO2_Emissions_State_Rankings=pd.read_csv("data/Total CO2 Emissions-StateRankings.csv")
US_annual_renewable=pd.read_csv("data/US_annual_renewable_Energy_Production_and_Consumption_by_Source.csv")
US_monthly_renewable=pd.read_csv("data/US_monthly_renewable_energy_production_and_consumption.csv")
US_Yearly_Energy_Production_by_Source=pd.read_csv("data/US_Yearly_Energy_Production_by_Source.csv",header=2)

In [3]:
State_Energy_Data2018.head()

,State,"Production, U.S. Share","Production, Rank","Consumption per Capita, Million Btu","Consumption per Capita, Rank","Expenditures per Capita, Dollars","Expenditures per Capita, Rank",Federal offshore production is not included in the Production Shares.
0,WY,8.1,3,967,1,8651,1,NaN
1,ND,4.4,6,872,3,8097,2,NaN
2,AK,1.5,13,830,4,8060,3,NaN
3,LA,3.7,8,945,2,7537,4,NaN
4,TX,21.3,1,498,6,5345,5,NaN

In [4]:
#clean up dataframes

#change column name
#df = df.rename(columns={'oldName1': 'newName1',
filtered_State_Energy_Data2018=State_Energy_Data2018.rename(columns={'Production, U.S. Share':'Producation US Share'}).drop(columns=['Federal offshore production is not included in the Production Shares.'])
filtered_State_Energy_Data2018.head()

,State,Producation US Share,"Production, Rank","Consumption per Capita, Million Btu","Consumption per Capita, Rank","Expenditures per Capita, Dollars","Expenditures per Capita, Rank"
0,WY,8.1,3,967,1,8651,1
1,ND,4.4,6,872,3,8097,2
2,AK,1.5,13,830,4,8060,3
3,LA,3.7,8,945,2,7537,4
4,TX,21.3,1,498,6,5345,5

In [5]:

filtered_State_ProductionConsumption2018=State_ProductionConsumption2018.rename(columns={'Production, U.S. Share':'Producation US Share'}).drop(columns=['Federal offshore production is not included in the Production Shares.'])
filtered_State_Energy_Data2018.head()

,State,Producation US Share,"Production, Rank","Consumption per Capita, Million Btu","Consumption per Capita, Rank","Expenditures per Capita, Dollars","Expenditures per Capita, Rank"
0,WY,8.1,3,967,1,8651,1
1,ND,4.4,6,872,3,8097,2
2,AK,1.5,13,830,4,8060,3
3,LA,3.7,8,945,2,7537,4
4,TX,21.3,1,498,6,5345,5

In [6]:
Total_CO2_Emissions_State_Rankings.head()

,Rank,State,"Total Carbon Dioxide Emissions, million metric tons",Note: Rankings are based on the full source data values.
0,1,TX,707.0,NaN
1,2,CA,359.0,NaN
2,3,FL,227.0,NaN
3,4,LA,226.0,NaN
4,5,PA,215.0,NaN

In [7]:

filtered_Total_CO2_Emissions_State_Rankings=Total_CO2_Emissions_State_Rankings.drop(columns=['Note: Rankings are based on the full source data values.'])

In [8]:
filtered_Total_CO2_Emissions_State_Rankings.head()

   Rank State  Total Carbon Dioxide Emissions, million metric tons
0     1    TX                                              707.0
1     2    CA                                              359.0
2     3    FL                                              227.0
3     4    LA                                              226.0
4     5    PA                                              215.0

In [9]:
US_annual_renewable.head()

,Annual Total(trillion Btu),Wood Energy Production,Biofuels Production,Total Biomass Energy Production,Total Renewable Energy Production,Hydroelectric Power Consumption,Geothermal Energy Consumption,Solar Energy Consumption,Wind Energy Consumption,Wood Energy Consumption,Waste Energy Consumption,Biofuels Consumption,Total Biomass Energy Consumption,Total Renewable Energy Consumption
0,1949,1549.262,Not Available,1549.262,2973.984,1424.722,Not Available,Not Available,Not Available,1549.262,Not Available,Not Available,1549.262,2973.984
1,1950,1562.307,Not Available,1562.307,2977.718,1415.411,Not Available,Not Available,Not Available,1562.307,Not Available,Not Available,1562.307,2977.718
2,1951,1534.669,Not Available,1534.669,2958.464,1423.795,Not Available,Not Available,Not Available,1534.669,Not Available,Not Available,1534.669,2958.464
3,1952,1474.369,Not Available,1474.369,2940.181,1465.812,Not Available,Not Available,Not Available,1474.369,Not Available,Not Available,1474.369,2940.181
4,1953,1418.601,Not Available,1418.601,2831.460,1412.859,Not Available,Not Available,Not Available,1418.601,Not Available,Not Available,1418.601,2831.460

In [10]:
#US_annual_renewable.dtypes()

In [11]:
US_monthly_renewable.head()

,Month(Trillion Btu),Wood Energy Production,Biofuels Production,Total Biomass Energy Production,Total Renewable Energy Production,Hydroelectric Power Consumption,Geothermal Energy Consumption,Solar Energy Consumption,Wind Energy Consumption,Wood Energy Consumption,Waste Energy Consumption,Biofuels Consumption,Total Biomass Energy Consumption,Total Renewable Energy Consumption
0,1973 January,129.630,Not Available,129.787,403.981,272.703,1.491,Not Available,Not Available,129.630,0.157,Not Available,129.787,403.981
1,1973 February,117.194,Not Available,117.338,360.900,242.199,1.363,Not Available,Not Available,117.194,0.144,Not Available,117.338,360.900
2,1973 March,129.763,Not Available,129.938,400.161,268.810,1.412,Not Available,Not Available,129.763,0.176,Not Available,129.938,400.161
3,1973 April,125.462,Not Available,125.636,380.470,253.185,1.649,Not Available,Not Available,125.462,0.174,Not Available,125.636,380.470
4,1973 May,129.624,Not Available,129.834,392.141,260.770,1.537,Not Available,Not Available,129.624,0.210,Not Available,129.834,392.141

In [12]:
Filtered_US_Yearly_Energy_Production_by_Source=US_Yearly_Energy_Production_by_Source.drop(0)

In [13]:
#create database connection with mongodb
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

db = myclient["US_Energy_db"]

In [14]:
filtered_State_Energy_Data2018
filtered_State_ProductionConsumption2018
Total_CO2_Emissions_State_Rankings
US_annual_renewable
US_monthly_renewable
US_Yearly_Energy_Production_by_Source

,Annual Total((Quadrillion Btu)),Coal Production,Natural Gas (Dry) Production,Crude Oil Production,Natural Gas Plant Liquids Production,Total Fossil Fuels Production,Nuclear Electric Power Production,Hydroelectric Power Production,Geothermal Energy Production,Solar Energy Production,Wind Energy Production,Biomass Energy Production,Total Renewable Energy Production,Total Primary Energy Production
0,NaN,(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu),(Quadrillion Btu)
1,1949.0,11.973882,5.377243,10.683252,0.706102,28.740479,0,1.424722,Not Available,Not Available,Not Available,1.549262,2.973984,31.714463
2,1950.0,14.060135,6.232975,11.446729,0.813366,32.553205,0,1.415411,Not Available,Not Available,Not Available,1.562307,2.977718,35.530922
3,1951.0,14.419325,7.415733,13.036724,0.910336,35.782118,0,1.423795,Not Available,Not Available,Not Available,1.534669,2.958464,38.740582
4,1952.0,12.734313,7.963599,13.281049,0.985701,34.964662,0,1.465812,Not Available,Not Available,Not Available,1.474369,2.940181,37.904843
5,1953.0,12.277746,8.338838,13.671076,1.050702,35.338361,0,1.412859,Not Available,Not Available,Not Available,1.418601,2.83146,38.169821
6,1954.0,10.542448,8.681785,13.42693,1.101065,33.752228,0,1.359772,Not Available,Not Available,Not Available,1.394327,2.754099,36.506328
7,1955.0,12.369608,9.344668,14.409682,1.222838,37.346797,0,1.359844,Not Available,Not Available,Not Available,1.424143,2.783987,40.130784
8,1956.0,13.306334,10.002147,15.180241,1.264288,39.75301,0,1.434711,Not Available,Not Available,Not Available,1.415871,2.850582,42.603591
9,1957.0,13.061393,10.605254,15.178026,1.273767,40.11844,0.000112,1.515613,Not Available,Not Available,Not Available,1.333581,2.849194,42.967746
10,1958.0,10.783088,10.942235,14.204125,1.275674,37.205122,0.001915,1.591967,Not Available,Not Available,Not Available,1.323123,2.91509,40.122127
11,1959.0,10.777984,11.951826,14.932622,1.369632,39.032065,0.002187,1.548465,Not Available,Not Available,Not Available,1.352874,2.901339,41.935591
12,1960.0,10.817398,12.656133,14.934611,1.446688,39.854831,0.006026,1.607975,0.000359,Not Available,Not Available,1.31987,2.928204,42.789061
13,1961.0,10.447091,13.104734,15.206196,1.530668,40.28869,0.019678,1.656463,0.001001,Not Available,Not Available,1.294762,2.952226,43.260594
14,1962.0,10.90056,13.716861,15.521896,1.570579,41.709896,0.026394,1.816141,0.001061,Not Available,Not Available,1.300242,3.117444,44.853735
15,1963.0,11.849229,14.512781,15.965793,1.686928,44.014731,0.038147,1.771355,0.00176,Not Available,Not Available,1.323316,3.096431,47.149309
16,1964.0,12.523881,15.298396,16.163568,1.777335,45.76318,0.039819,1.886314,0.002132,Not Available,Not Available,1.336802,3.225248,49.028247
17,1965.0,13.055285,15.775441,16.521381,1.853211,47.205318,0.043164,2.059077,0.001978,Not Available,Not Available,1.334761,3.395816,50.644298
18,1966.0,13.467679,17.010742,17.561025,1.971083,50.010529,0.064158,2.061519,0.001958,Not Available,Not Available,1.368985,3.432462,53.507149
19,1967.0,13.825487,17.943168,18.651304,2.148364,52.568322,0.088456,2.346664,0.0033,Not Available,Not Available,1.340249,3.690213,56.346991
20,1968.0,13.608678,19.067853,19.308444,2.289294,54.274269,0.141534,2.348629,0.004532,Not Available,Not Available,1.419495,3.772656,58.188458
21,1969.0,13.863346,20.446462,19.556156,2.385951,56.251915,0.153722,2.647983,0.006422,Not Available,Not Available,1.440487,4.094892,60.500528
22,1970.0,14.607064,21.66567,20.40121,2.478196,59.152139,0.239347,2.633547,0.005511,Not Available,Not Available,1.430962,4.070021,63.461507
23,1971.0,13.185523,22.279791,20.032701,2.512654,58.01067,0.412939,2.824151,0.005739,Not Available,Not Available,1.432323,4.262213,62.685822
24,1972.0,14.091685,22.207545,20.041134,2.563714,58.904079,0.583752,2.863865,0.015079,Not Available,Not Available,1.503065,4.382009,63.869839
25,1973.0,13.992126,22.187349,19.493237,2.53452,58.207232,0.910177,2.861448,0.020422,Not Available,Not Available,1.529068,4.410938,63.528346
26,1974.0,14.074451,21.210145,18.574993,2.434819,56.294408,1.272083,3.17658,0.02561,Not Available,Not Available,1.539662,4.741852,62.308343
27,1975.0,14.989315,19.640343,17.729318,2.337943,54.696919,1.899798,3.154607,0.03378,Not Available,Not Available,1.498734,4.68712,61.283838
28,1976.0,15.653687,19.480319,17.261844,2.287714,54.683564,2.111121,2.976265,0.037513,Not Available,Not Available,1.713373,4.727151,61.521836
29,1977.0,15.754741,19.565321,17.453737,2.285651,55.059451,2.701762,2.333252,0.037382,Not Available,Not Available,1.838332,4.208966,61.970179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,1990.0,22.487548,18.326155,15.571185,2.138298,58.523186,6.10435,3.046391,0.170747,0.058768,0.029007,2.735112,6.040024,70.667561
43,1991.0,21.636424,18.228736,15.700826,2.265161,57.831148,6.422132,3.015943,0.177626,0.061623,0.030796,2.781797,6.067785,70.321066
44,1992.0,21.694132,18.3751,15.222863,2.322585,57.614681,6.479206,2.617436,0.178699,0.06288,0.029863,2.931678,5.820556,69.914443
45,1993.0,20.335654,18.584037,14.49439,2.36619,55.78027,6.410499,2.891613,0.185673,0.06519,0.030987,2.908446,6.081909,68.272678
46,1994.0,22.202083,19.348013,14.102563,2.349386,58.002045,6.693877,2.683457,0.173464,0.067126,0.03556,3.027534,5.987142,70.683064
47,1995.0,22.12955,19.082245,13.886754,2.397846,57.496395,7.075436,3.205307,0.152057,0.068233,0.03263,3.099082,6.557308,71.12914
48,1996.0,22.790148,19.344268,13.722899,2.480343,58.337658,7.086674,3.589656,0.163359,0.069134,0.03344,3.155301,7.010889,72.435221
49,1997.0,23.309614,19.393851,13.65802,2.444798,58.806283,6.596992,3.640458,0.166698,0.068166,0.033581,3.107908,7.01681,72.420085
50,1998.0,24.045198,19.613295,13.23513,2.372294,59.265918,7.067809,3.297054,0.16845,0.067449,0.030853,2.92893,6.492735,72.826461
51,1999.0,23.295084,19.340703,12.451046,2.472965,57.559797,7.610256,3.267575,0.170921,0.066066,0.045894,2.965132,6.515588,71.685641
52,2000.0,22.735478,19.661529,12.358101,2.551466,57.306574,7.862349,2.811116,0.164364,0.063469,0.057057,3.005661,6.101667,71.27059
53,2001.0,23.54708,20.165567,12.281566,2.490533,58.484745,8.028853,2.241858,0.164461,0.061674,0.069617,2.624162,5.161772,71.675371
54,2002.0,22.732237,19.382055,12.160213,2.502206,56.776711,8.145429,2.689017,0.171164,0.05998,0.105334,2.705406,5.730902,70.653042
55,2003.0,22.093652,19.633304,11.959568,2.296059,55.982583,7.959622,2.792539,0.173445,0.058432,0.113273,2.804778,5.942467,69.884672
56,2004.0,22.852099,19.074254,11.550086,2.407581,55.88402,8.222774,2.688468,0.178147,0.058376,0.141664,2.996017,6.062671,70.169464
57,2005.0,23.185189,18.556015,10.974152,2.279946,54.995301,8.16081,2.702942,0.180703,0.057893,0.178088,3.101186,6.220812,69.376923
58,2006.0,23.78951,19.021706,10.766775,2.298717,55.876707,8.214626,2.869035,0.1812,0.060755,0.263738,3.211515,6.586243,70.677577
59,2007.0,23.492742,19.786209,10.741447,2.348716,56.369113,8.458589,2.446389,0.185774,0.065621,0.340503,3.47208,6.510367,71.338069
60,2008.0,23.851368,20.702884,10.613302,2.359299,57.526852,8.426491,2.511108,0.192433,0.074207,0.545548,3.86825,7.191546,73.14489
61,2009.0,21.623721,21.13945,11.340126,2.508252,56.611549,8.35522,2.668824,0.200185,0.078178,0.721129,3.956617,7.624932,72.591701
62,2010.0,22.038226,21.805763,11.610185,2.704829,58.159003,8.434433,2.538541,0.207979,0.091282,0.923427,4.552532,8.313762,74.907198
63,2011.0,22.221407,23.40572,11.996231,2.890075,60.513432,8.268698,3.102852,0.212311,0.112429,1.167636,4.704321,9.299548,78.081679
64,2012.0,20.676893,24.610065,13.837077,3.162126,62.286161,8.061822,2.628702,0.211592,0.158961,1.340059,4.546704,8.886018,79.234001
65,2013.0,20.001304,24.859072,15.862426,3.451386,64.174188,8.244433,2.562382,0.214006,0.224524,1.601359,4.815632,9.417903,81.836524
66,2014.0,20.285705,26.718073,18.601811,4.005085,69.610673,8.337559,2.466577,0.21449,0.337543,1.727542,5.020366,9.766517,87.714749
67,2015.0,17.946095,28.066882,19.695854,4.475993,70.184824,8.336886,2.321177,0.211836,0.426867,1.777306,4.991579,9.728765,88.250475
68,2016.0,14.667089,27.576023,18.511717,4.664785,65.419614,8.426753,2.472442,0.209604,0.570368,2.095595,5.074863,10.422872,84.269238
69,2017.0,15.625377,28.289335,19.534988,4.987096,68.436796,8.418968,2.766967,0.210233,0.777084,2.342891,5.098747,11.195923,88.051687
70,2018.0,15.363442,31.689895,22.889737,5.726973,75.670047,8.438068,2.663138,0.208865,0.915513,2.482364,5.238484,11.508364,95.616479
71,2019.0,14.268057,34.902356,25.473071,6.336608,80.980092,8.462374,2.491832,0.20926,1.042856,2.731847,5.161181,11.636976,101.079442

In [15]:
#load dataframes to database

collection=db['State_ProductionConsumption2018']
filtered_State_Energy_Data2018.reset_index(level=0, drop=True)#.reset_index(inplace=True)
filtered_State_Energy_Data2018_dict = filtered_State_Energy_Data2018.to_dict("records")
#insert collection
collection.insert_many(filtered_State_Energy_Data2018_dict)

In [16]:
collection=db['State_Energy_Data2018']
filtered_State_ProductionConsumption2018.reset_index(level=0, drop=True)#.reset_index(inplace=True)
filtered_State_ProductionConsumption2018_dict = filtered_State_ProductionConsumption2018.to_dict("records")
#insert collection
collection.insert_many(filtered_State_ProductionConsumption2018_dict)

In [17]:
collection=db['Total_CO2_Emissions_State_Rankings']
filtered_Total_CO2_Emissions_State_Rankings.reset_index(level=0, drop=True)#.reset_index(inplace=True)
filtered_Total_CO2_Emissions_State_Rankings_dict = filtered_Total_CO2_Emissions_State_Rankings.to_dict("records")
#insert collection
collection.insert_many(filtered_Total_CO2_Emissions_State_Rankings_dict)

In [18]:
collection=db['US_annual_renewable']
US_annual_renewable.reset_index(inplace=True) #.reset_index(level=0, drop=True)#
US_annual_renewable_dict = US_annual_renewable.to_dict("records")
#insert collection
collection.insert_many(US_annual_renewable_dict)

In [19]:
US_annual_renewable.reset_index(inplace=True)

In [20]:
US_annual_renewable

,level_0,index,Annual Total(trillion Btu),Wood Energy Production,Biofuels Production,Total Biomass Energy Production,Total Renewable Energy Production,Hydroelectric Power Consumption,Geothermal Energy Consumption,Solar Energy Consumption,Wind Energy Consumption,Wood Energy Consumption,Waste Energy Consumption,Biofuels Consumption,Total Biomass Energy Consumption,Total Renewable Energy Consumption
0,0,0,1949,1549.262,Not Available,1549.262,2973.984,1424.722,Not Available,Not Available,Not Available,1549.262,Not Available,Not Available,1549.262,2973.984
1,1,1,1950,1562.307,Not Available,1562.307,2977.718,1415.411,Not Available,Not Available,Not Available,1562.307,Not Available,Not Available,1562.307,2977.718
2,2,2,1951,1534.669,Not Available,1534.669,2958.464,1423.795,Not Available,Not Available,Not Available,1534.669,Not Available,Not Available,1534.669,2958.464
3,3,3,1952,1474.369,Not Available,1474.369,2940.181,1465.812,Not Available,Not Available,Not Available,1474.369,Not Available,Not Available,1474.369,2940.181
4,4,4,1953,1418.601,Not Available,1418.601,2831.460,1412.859,Not Available,Not Available,Not Available,1418.601,Not Available,Not Available,1418.601,2831.460
5,5,5,1954,1394.327,Not Available,1394.327,2754.099,1359.772,Not Available,Not Available,Not Available,1394.327,Not Available,Not Available,1394.327,2754.099
6,6,6,1955,1424.143,Not Available,1424.143,2783.987,1359.844,Not Available,Not Available,Not Available,1424.143,Not Available,Not Available,1424.143,2783.987
7,7,7,1956,1415.871,Not Available,1415.871,2850.582,1434.711,Not Available,Not Available,Not Available,1415.871,Not Available,Not Available,1415.871,2850.582
8,8,8,1957,1333.581,Not Available,1333.581,2849.194,1515.613,Not Available,Not Available,Not Available,1333.581,Not Available,Not Available,1333.581,2849.194
9,9,9,1958,1323.123,Not Available,1323.123,2915.090,1591.967,Not Available,Not Available,Not Available,1323.123,Not Available,Not Available,1323.123,2915.090
10,10,10,1959,1352.874,Not Available,1352.874,2901.339,1548.465,Not Available,Not Available,Not Available,1352.874,Not Available,Not Available,1352.874,2901.339
11,11,11,1960,1319.870,Not Available,1319.870,2928.204,1607.975,0.359,Not Available,Not Available,1319.870,Not Available,Not Available,1319.870,2928.204
12,12,12,1961,1294.762,Not Available,1294.762,2952.226,1656.463,1.001,Not Available,Not Available,1294.762,Not Available,Not Available,1294.762,2952.226
13,13,13,1962,1300.242,Not Available,1300.242,3117.444,1816.141,1.061,Not Available,Not Available,1300.242,Not Available,Not Available,1300.242,3117.444
14,14,14,1963,1323.316,Not Available,1323.316,3096.431,1771.355,1.76,Not Available,Not Available,1323.316,Not Available,Not Available,1323.316,3096.431
15,15,15,1964,1336.802,Not Available,1336.802,3225.248,1886.314,2.132,Not Available,Not Available,1336.802,Not Available,Not Available,1336.802,3225.248
16,16,16,1965,1334.761,Not Available,1334.761,3395.816,2059.077,1.978,Not Available,Not Available,1334.761,Not Available,Not Available,1334.761,3395.816
17,17,17,1966,1368.985,Not Available,1368.985,3432.462,2061.519,1.958,Not Available,Not Available,1368.985,Not Available,Not Available,1368.985,3432.462
18,18,18,1967,1340.249,Not Available,1340.249,3690.213,2346.664,3.3,Not Available,Not Available,1340.249,Not Available,Not Available,1340.249,3690.213
19,19,19,1968,1419.495,Not Available,1419.495,3772.656,2348.629,4.532,Not Available,Not Available,1419.495,Not Available,Not Available,1419.495,3772.656
20,20,20,1969,1440.487,Not Available,1440.487,4094.892,2647.983,6.422,Not Available,Not Available,1440.487,Not Available,Not Available,1440.487,4094.892
21,21,21,1970,1428.649,Not Available,1430.962,4070.021,2633.547,5.511,Not Available,Not Available,1428.649,2.313,Not Available,1430.962,4070.021
22,22,22,1971,1430.229,Not Available,1432.323,4262.213,2824.151,5.739,Not Available,Not Available,1430.229,2.094,Not Available,1432.323,4262.213
23,23,23,1972,1500.992,Not Available,1503.065,4382.009,2863.865,15.079,Not Available,Not Available,1500.992,2.073,Not Available,1503.065,4382.009
24,24,24,1973,1527.012,Not Available,1529.068,4410.938,2861.448,20.422,Not Available,Not Available,1527.012,2.056,Not Available,1529.068,4410.938
25,25,25,1974,1537.760,Not Available,1539.662,4741.852,3176.580,25.61,Not Available,Not Available,1537.760,1.902,Not Available,1539.662,4741.852
26,26,26,1975,1496.928,Not Available,1498.734,4687.120,3154.607,33.78,Not Available,Not Available,1496.928,1.806,Not Available,1498.734,4687.120
27,27,27,1976,1711.484,Not Available,1713.373,4727.151,2976.265,37.513,Not Available,Not Available,1711.484,1.889,Not Available,1713.373,4727.151
28,28,28,1977,1836.524,Not Available,1838.332,4208.966,2333.252,37.382,Not Available,Not Available,1836.524,1.808,Not Available,1838.332,4208.966
29,29,29,1978,2036.150,Not Available,2037.605,5005.440,2936.983,30.851,Not Available,Not Available,2036.150,1.455,Not Available,2037.605,5005.440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,41,41,1990,2216.166,110.867,2735.112,6040.024,3046.391,170.747,58.768,29.007,2216.166,408.079,110.867,2735.112,6040.024
42,42,42,1991,2214.082,128,2781.797,6067.785,3015.943,177.626,61.623,30.796,2214.082,439.715,128,2781.797,6067.785
43,43,43,1992,2313.471,145.005,2931.678,5820.556,2617.436,178.699,62.88,29.863,2313.471,473.202,145.005,2931.678,5820.556
44,44,44,1993,2259.774,169.336,2908.446,6081.909,2891.613,185.673,65.19,30.987,2259.774,479.336,169.062,2908.172,6081.635
45,45,45,1994,2323.820,188.391,3027.534,5987.142,2683.457,173.464,67.126,35.56,2323.820,515.323,188.391,3027.534,5987.142
46,46,46,1995,2369.869,197.737,3099.082,6557.308,3205.307,152.057,68.233,32.63,2369.869,531.476,199.797,3101.142,6559.369
47,47,47,1996,2437.027,141.284,3155.301,7010.889,3589.656,163.359,69.134,33.44,2437.027,576.99,142.789,3156.806,7012.394
48,48,48,1997,2370.991,186.315,3107.908,7016.810,3640.458,166.698,68.166,33.581,2370.991,550.602,183.627,3105.220,7014.122
49,49,49,1998,2184.161,202.474,2928.930,6492.735,3297.054,168.45,67.449,30.853,2184.161,542.295,201.034,2927.490,6491.296
50,50,50,1999,2214.167,210.809,2965.132,6515.588,3267.575,170.921,66.066,45.894,2214.167,540.156,208.967,2963.290,6513.747
51,51,51,2000,2261.715,233.146,3005.661,6101.667,2811.116,164.364,63.469,57.057,2261.715,510.8,235.712,3008.227,6104.234
52,52,52,2001,2005.834,254.453,2624.162,5161.772,2241.858,164.461,61.674,69.617,2005.834,363.875,252.647,2622.356,5159.966
53,53,53,2002,1995.284,308.118,2705.406,5730.902,2689.017,171.164,59.98,105.334,1995.284,402.004,303.333,2700.621,5726.116
54,54,54,2003,2002.037,401.394,2804.778,5942.467,2792.539,173.445,58.432,113.273,2002.037,401.347,403.087,2806.471,5944.160
55,55,55,2004,2121.252,485.722,2996.017,6062.671,2688.468,178.147,58.376,141.664,2121.252,389.043,497.777,3008.073,6074.726
56,56,56,2005,2136.697,561.27,3101.186,6220.812,2702.942,180.703,57.893,178.088,2136.697,403.219,574.014,3113.930,6233.556
57,57,57,2006,2099.319,715.635,3211.515,6586.243,2869.035,181.2,60.755,263.738,2099.319,396.561,766.26,3262.140,6636.868
58,58,58,2007,2088.775,970.07,3472.080,6510.367,2446.389,185.774,65.621,340.503,2088.775,413.235,982.814,3484.824,6523.110
59,59,59,2008,2058.985,1374.001,3868.250,7191.546,2511.108,192.433,74.207,545.548,2058.985,435.263,1357.144,3851.392,7174.689
60,60,60,2009,1935.010,1569.92,3956.617,7624.932,2668.824,200.185,78.178,721.129,1935.010,451.687,1553.312,3940.009,7608.324
61,61,61,2010,2216.740,1867.88,4552.532,8313.762,2538.541,207.979,91.282,923.427,2216.740,467.912,1821.23,4505.882,8267.112
62,62,62,2011,2213.220,2029.308,4704.321,9299.548,3102.852,212.311,112.429,1167.636,2213.220,461.793,1933.919,4608.932,9204.160
63,63,63,2012,2151.213,1928.887,4546.704,8886.018,2628.702,211.592,158.961,1340.059,2151.213,466.604,1889.988,4507.805,8847.119
64,64,64,2013,2338.256,1980.94,4815.632,9417.903,2562.382,214.006,224.524,1601.359,2338.256,496.436,2013.662,4848.354,9450.625
65,65,65,2014,2401.078,2103.411,5020.366,9766.517,2466.577,214.49,337.543,1727.542,2401.078,515.877,2077.253,4994.208,9740.360
66,66,66,2015,2311.768,2161.44,4991.579,9728.765,2321.177,211.836,426.867,1777.306,2311.768,518.371,2153.219,4983.358,9720.544
67,67,67,2016,2296.696,2274.948,5074.863,10422.872,2472.442,209.604,570.368,2095.595,2224.121,503.219,2287.182,5014.521,10362.530
68,68,68,2017,2259.189,2344.298,5098.747,11195.923,2766.967,210.233,777.084,2342.891,2180.563,495.26,2303.518,4979.340,11076.515
69,69,69,2018,2354.564,2396.573,5238.484,11508.364,2663.138,208.865,915.513,2482.364,2260.506,487.347,2283.247,5031.100,11300.980
70,70,70,2019,2400.809,2327.238,5161.181,11636.976,2491.832,209.26,1042.856,2731.847,2297.166,433.133,2254.403,4984.702,11460.497

In [21]:
collection=db['US_monthly_renewable']
US_monthly_renewable.reset_index(level=0, drop=True)#.reset_index(inplace=True)
US_monthly_renewable_dict = US_monthly_renewable.to_dict("records")
#insert collection
collection.insert_many(US_monthly_renewable_dict)

In [22]:
collection=db['US_Yearly_Energy_Production_by_Source']
US_Yearly_Energy_Production_by_Source.reset_index(level=0, drop=True)#.reset_index(inplace=True)
US_Yearly_Energy_Production_by_Source_dict = US_Yearly_Energy_Production_by_Source.to_dict("records")
#insert collection
collection.insert_many(US_Yearly_Energy_Production_by_Source_dict)